@import '../../../../../variables.scss';

.top-slider {
  position: relative;
  height: 90vh;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
  }

  #background-video {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    background: $primary;
  }
  .buttons {
    position: absolute;
    bottom: 64px;
    left: 80px;
    width: 88%;
    z-index: 2;
  }
  .contact-us-banner {
    position: absolute;
    top: 130px;
    right: 102px;
  }
}

@media screen and (max-width: 600px) {
  .top-slider {
    .buttons {
      left: 20px;
    }
    .contact-us-banner {
      right: 20px;
    }
  }
 }
