<app-wsp-follow [phoneNumber]="'5491144032099'" [messageText]="'Hola! Me gustaría obtener más información sobre...'"></app-wsp-follow>
<section class="top-slider">
  <div class="top-slider__overlay"></div>
  <video loop muted autoplay playsinline #videoElement id="background-video">
    <!-- <source src="assets/video_bg.mov"> -->
    <source src="assets/nubi/nubi-compress.mp4" type="video/mp4">
  </video>
  <div #buttons class="buttons d-flex justify-content-between">
    <button [scrollTo]="'#devs'" class="custom-btn-primary">
      Proyectos
    </button>
    <div [scrollTo]="'#about-us'" class="arrow animation-floating cursor-pointer">
      <img src="assets/scroll-down.svg" alt="">
    </div>
  </div>
<!--   <div class="contact-us-banner">
    <img src="assets/contact-us-banner.svg" alt="">
  </div> -->
</section>
