<section class="comparisonSection d-none d-md-block">
  <div class="comparisonImage beforeImage">
    <img src="assets/mare/reveal-1.jpg" alt="after">
  </div>
  <div class="comparisonImage afterImage">
    <img src="assets/mare/reveal-2.jpg" alt="before">
  </div>
</section>

