.comparisonSection {
  position: relative;
  padding-bottom: 56.25%;
  /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
  width: 100%;
  height: 100%;
}

.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}

.afterImage img {
  transform: translate(-100%, 0px);
}

.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
