<div class="top-banner">
  <h1 class="text-uppercase text-title">Nosotros</h1>
</div>
<section class="about-us bg-primary">
  <div class="container-fluid">
    <div class="row mb-5 mt-5">
      <div class="col-lg-5">
        <div class="title position-relative mt-4">
          <h1 class="position-absolute text-white">
            Nuestro
          </h1>
          <h1 class="featured text-white">
            equipo
          </h1>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc">
          <p class="about-us-desc text-white">
            En Alamos, contamos con un excelente equipo de colaboradores internos y externos que trabajan con dedicación y
            compromiso para brindarte una experiencia única.
          </p>
          <p class="about-us-desc text-white">
            Nuestro objetivo es garantizar confianza y satisfacción en cada etapa del proceso, desde el inicio hasta la
            entrega. 
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-5 mt-5">
      <div class="col-lg-3 mb-2 mb-md-0 text-white" *ngFor="let member of teamMembers">
        <div class="team-member">
          <img class="team-member__img" [src]="member.image" alt="">
          <h5 class="mt-2 mb-0">{{ member.name }}</h5>
          <p class="mb-0">{{ member.position }}</p>
          <a *ngIf="member.linkedin" class="text-white" [href]="member.linkedin" target="_blank" rel="noopener noreferrer">
            Linkedin
          </a>
        </div>
      </div>
    </div>
    <div class="row services">
      <div class="col-lg-5">
        <div class="title position-relative mt-4">
          <h1 class="position-absolute text-white">
            Aliados
          </h1>
          <h1 class="featured text-white">
            estratégicos
          </h1>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc">
          <p class="about-us-desc text-white  ">
           Contamos con un soporte externo especializado que nos permite asegurar excelencia en cada proyecto:
          </p>
        </div>
      </div>
    </div>
    <div class="row text-white">
      <div class="col-lg-6">
        <div class="top-info">
          <img src="assets/icons/joint.svg" alt="">
          <h5>Estudio de Arquitectura</h5>
        </div>
        <p>Brinda diseño y planificación estratégica para desarrollar proyectos innovadores y únicos.</p>
        <!--         <button class="custom-btn-primary text-dark">
          <a href="https://drive.google.com/file/d/1TCzdH62xIG_1pDeKRCIa8VklzY8Vt-oR/view?usp=drive_link"
            target="_blank" rel="noopener noreferrer">
            Descargar folleto
          </a>
        </button> -->
      </div>
      <div class="col-lg-6">
        <div class="top-info">
          <img src="assets/icons/legal.svg" alt="">
          <h5>
            Asesoría Legal
          </h5>
        </div>
        <p>Proporciona soporte jurídico integral, garantizando seguridad y cumplimiento en todas las etapas.
        </p>
      </div>
    </div>
    <div class="row mt-4 text-white">
      <div class="col-lg-6">
        <div class="top-info">
          <img src="assets/icons/bank.svg" alt="">
          <h5>Asesoría Contable</h5>
        </div>
        <p>Nos acompaña en la gestión financiera para optimizar recursos y mantener la solidez de nuestras operaciones.
        </p>
      </div>
    </div>
  </div>
</section>
<div class="app-parallax-team-2"></div>

<section class="about-us">
  <div class="container-fluid">
    <div class="row mb-5 mt-5">
      <div class="col-lg-5">
        <div class="title position-relative mt-4">
          <h1 class="position-absolute">
            Nuestra
          </h1>
          <h1 class="featured">
            oficina
          </h1>
          <p>
            Te esperamos en nuestra oficina, ubicada en Moreno 204, Ramos Mejía, donde encontrarás un espacio diseñado para brindarte comodidad y atención de calidad.
          </p>
          <p>
            <span>
              Horario de atención:
            </span>
            De lunes a viernes, de 10:00 a 19:00 hs.
          </p>
          <p>
            Nuestro equipo de profesionales está preparado para ofrecerte un servicio personalizado y adaptado a tus necesidades. <br> Ya sea que busques orientación, resolver tus dudas o avanzar en cada etapa del proceso, estamos para acompañarte con soluciones claras y efectivas.
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d637.8372089697901!2d-58.562563759985096!3d-34.6421459583282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7e451405efb%3A0xe333a834e894d590!2sMariano%20Moreno%20204%2C%20B1704BGF%20Ramos%20Mej%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2ses!4v1737911370145!5m2!1ses!2ses"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="title position-relative mt-4">
          <h1 class="position-absolute">
            Trabajá
          </h1>
          <h1 class="featured">
            con nosotros
          </h1>
        </div>
          <iframe 
            data-tally-src="https://tally.so/embed/3xlLxo?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
            loading="lazy"
            width="100%"
            height="746"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            title="💼 Sumate a Alamos!"
          ></iframe>
        </div>
      </div>
    </div>
</section>