  @import '../../../../../variables.scss';

  .top-banner {
    height: 564px;
    width: 100%;
    background: url('/assets/sliders/bg-07.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: white;
      font-weight: 600;
      font-size: 54px;
      font-family: $font-title;
    }
  }

  .inversiones {
    padding: 4rem 0;

    .container-fluid {
      .row {
        .col-lg-12 {
          h5 {
            font-weight: 600;
            font-family: $font-title;
            font-size: 44px;
            @media screen and (max-width: 600px) {
              font-size: 30px;
            }
          }

          p {
            font-size: 22px;
            margin: 40px 0 80px;
          }

        }

        .col-lg-6 {
          h1 {
            font-size: 30px;
          }

          p {
            width: 542px;
            max-width: 100%;
          }

          span {
            font-weight: bold;
            font-size: 18px;
          }

          .top-info {
            justify-content: start;
            align-items: center;
            display: flex;
            flex-direction: row;
            /* align-items: center; */
            margin-bottom: 1rem;

            img {
              height: 64px;
              margin-right: 15px;
            }

            h5 {
              font-weight: 600;
              font-size: 18px;
              margin-bottom: 0;
            }
          }

          button {
            outline: none;
            width: 50%;
            border-radius: 30px;
            padding: 5px 10px;
            border: none;
            background: transparent;
            border: 1px solid black;

            a {
              color: black;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .qr-wsp {
            span {
              font-size: 14px;
              font-weight: normal;
              // text-transform: uppercase;
            }

            img {
              height: 140px;
              width: 140px;
            }
          }
        }
      }

      .row.mt-desktop {
        margin-top: 0;

        .asesor {
          h5 {
            font-weight: 600;
            width: 542px;
            max-width: 100%;
            margin-bottom: 40px;
          }

          p {
            width: 542px;
            max-width: 100%;
          }
        }

        .right-arrow {
          height: 14px;
          margin-left: 5px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .top-banner {
      padding: 1rem;

      h1 {
        text-align: center;
        font-size: 24px;
        margin-top: 2rem;
      }
    }

    .inversiones {
      margin-bottom: 2rem;

      .container {
        .row {
          .col-lg-6 {
            h1 {
              font-size: 24px;

              .br-desktop {
                display: none;
              }
            }

            span {
              margin: 20px 0;
              font-size: 15px;
            }

            p {
              margin-top: 10px;
            }

            .qr-wsp {
              width: 100%;

              span {
                margin: 0;
              }
            }

            button {
              width: 100%;
              margin: 1rem 0;
              margin-bottom: 2rem;
            }
          }

          &.mt-desktop {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .top-banner {
      text-align: center;
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .inversiones {
      .container {
        .row {
          .col-lg-6 {
            button {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
