<div class="top-banner">
  <h1 data-aos="zoom-in">¿Te gustaría ser
    inversor en real estate?</h1>
</div>
<section id="inversiones" class="inversiones">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" data-aos="zoom-in-left">
        <h5>Sé parte de nuestros proyectos</h5>
        <p>
          En ALAMOS te ofrecemos ser parte de nuestros desarrollos para que puedas adquirir productos de alta calidad a
          precios
          preferenciales, garantizando una inversión de alta rentabilidad.
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6" data-aos="zoom-out-right">
        <div class="top-info">
          <img src="assets/icons/keys.svg" alt="">
          <h5>
            Compra de una unidad funcional
          </h5>
        </div>
        <p>
          Realizando la compra de un departamento en etapa de preventa obtenes la mayor rentabilidad que se logra
          mediante una inversión inmobiliaria. Además, podes vender la unidad en cualquier instancia del proyecto y a
          medida que avanza la ejecución de obra tu capital incrementa.
        </p>
      </div>
      <div class="col-lg-6" data-aos="zoom-out-right">
        <div class="top-info">
          <img src="assets/icons/crowdfunding.svg" alt="">
          <h5>Crowdfunding – Compra de m2</h5>
        </div>
        <p>Ideado para los ahorristas, una nueva forma de invertir al alcance de tus posibilidades. Podes comprar un
          porcentaje del departamento a un valor preventa preferencial, y luego al finalizar la obra obtenes tus ahorros
          invertidos mas la rentabilidad generada. </p>
        <button class="custom-btn-primary text-dark">
          <a href="https://drive.google.com/file/d/1TCzdH62xIG_1pDeKRCIa8VklzY8Vt-oR/view?usp=drive_link"
            target="_blank" rel="noopener noreferrer">
            Descargar folleto
          </a>
        </button>
      </div>
    </div>
    <div class="row mt-desktop">
      <div class="col-lg-6 asesor" data-aos="zoom-out-right">
        <h5>
          Conectacte con un asesor de ventas para mayor información sobre nuestros desarrollos.
        </h5>
        <p class="mt-2">
          Escaneando nuestro código QR podes comunicarte directamente por WhatsApp con un asesor.
          <img class="right-arrow" src="assets/icons/right-arrow.svg" alt="">
        </p>
      </div>
      <div class="col-lg-6" data-aos="zoom-out-left">
        <div class="qr-wsp d-flex flex-column">
          <img src="assets/qr.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
