@import '../../../../../variables.scss';

.reviews {
  padding: 60px 0;
  background: white;

  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }

  &__title {
    font-family: $font-title;

    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
  }

  &__container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;

    &__card {
      flex: 0 0 auto;
      width: 30%;
      margin-right: 30px;
      min-height: 264px;

      @media screen and (max-width: 768px) {
        width: calc(70% - 10px);
        max-width: none;
      }

      &__header {
        .profile {
          color: white;
          background: black;
          padding: 1rem;
        }
      }

      &__comment {
        text-wrap: wrap;
      }
    }
  }
}
