<section class="reviews">
  <div class="container-fluid">
    <h1 class="reviews__title text-center">
      Lo que dicen nuestros clientes
    </h1>
    <div class="reviews__container">
      <div class="reviews__container__card"  *ngFor="let review of reviews">
        <div class="reviews__container__card__header d-flex justify-content-start align-items-center">
          <h5 class="profile mr-3">
            {{ review.initial }}
          </h5>
          <h5>
            {{ review.user }}
          </h5>
        </div>
        <div class="d-flex align-items-center justify-content-start mt-2 mb-2">
          <div class="reviews__container__card__stars mr-2">
            <img height="20" src="https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png" alt="">
            <img height="20" src="https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png" alt="">
            <img height="20" src="https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png" alt="">
            <img height="20" src="https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png" alt="">
            <img height="20" src="https://maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png" alt="">
          </div>
          <small class="mt-1">
              {{ review.date }}
          </small>
        </div>
        <p class="reviews__container__card__comment">
          {{ review.comment }}
        </p>
      </div>
    </div>
  </div>
</section>
