@import '../../../../../variables.scss';

.news {
  background-color: $primary;
  padding: 160px 0;
  @media screen and (max-width: 600px) {
    padding: 120px 0 60px 0;
  }
  &__title {
    font-family: $font-title;
    color: $secondary;
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 30px 0;
    @media screen and (max-width: 600px) {
      font-size: 36px;
    }
  }

  &__card {
    background: $secondary;
    border-radius: 16px;

    &__header {
      padding: 20px;

      img {
        height: 50px;
      }
    }

    &__body {
      height: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &__footer {
      padding: 20px;
      p {
        min-height: 72px;
      }
      .cta {
        color: $primary;
        padding: 5px 8px;
        font-weight: 500;
      }
    }
  }
}
