<section class="news">
  <div class="container-fluid">
    <h1 class="news__title" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">
      Prensa
    </h1>
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of news">
        <div class="news__card mb-4 mb-md-0">
          <div class="news__card__header d-flex justify-content-between align-items-center">
            <!-- <img src="assets/isologo.svg" alt="Figura representativa árbol de álamo"> -->
            <img [src]="item.logo" alt="">
          </div>
          <div class="news__card__body" [ngStyle]="{'background-image': 'url(' + item.img + ')'}"></div>
          <div class="news__card__footer d-flex align-items-center flex-column">
            <p class="mb-0">
              {{ item.description }}
            </p>
            <a class="cta mt-2" *ngIf="item.url" [href]="item.url" target="_blank" rel="noopener noreferrer">
              {{ item.ctaLabel }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
