@import '../../../../variables.scss';

.gray-modal-lg {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

form {

  input,
  select,
  textarea {
    margin-top: 1.5rem;
    width: 100%;
    background: black;
    color: $secondary;
    outline: 0;
    border-width: 0 0 1px;
    border-color: $secondary;
    font-size: 16px;
    margin-bottom: 20px;

    &::placeholder {
      color: $secondary;
      font-weight: 300;
      font-size: 16px;
    }
  }

  .btn-wrapper {
    button {
      background: transparent;
      font-weight: 600;
      color: $secondary;
      border-radius: 100px;
      font-size: 16px;
      padding: 12px 42px;
      border: 1px solid $secondary;
      width: 100%;
      &:disabled {
        opacity: 0.5;
      }

      .loading-email {
        height: 20px;
        width: 20px;
      }
    }
  }
}
