<ng-template #template>
  <div class="container-fluid">
    <div class="modal-header">
      <h4 class="modal-title text-white mb-0 pull-left mt-4">
        ¿Queres más información sobre nuestros proyectos?
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mb-4">
      <form [formGroup]="newsletterForm">
        <div class="row">
          <div class="col-lg-3">
            <input class="custom-input" placeholder="Nombre y apellido" id="name" name="name" formControlName="name"
              type="text" class="validate" required>
          </div>
          <div class="col-lg-3">
            <input class="custom-input" placeholder="Correo" id="email" name="email" formControlName="email"
              type="email" class="validate" required>
          </div>
          <div class="col-lg-3">
            <input class="custom-input" placeholder="Teléfono" id="phone" name="phone" formControlName="phone"
              type="number" class="validate" required>
          </div>
          <div class="col-lg-3">
            <div class="btn-wrapper">
              <button type="submit" class="custom-btn-primary" [disabled]="loadingEmail || !newsletterForm.valid"
                (click)="sendEmail()">
                <span *ngIf="!loadingEmail">Enviar</span>
                <img class="loading-email" src="assets/loading.svg" alt="cargando" *ngIf="loadingEmail">
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
