<div class="wsp-follow">
  <a [href]="'https://api.whatsapp.com/send?phone=' + phoneNumber + '&text=' + encodeURIComponent(messageText + ' ' + projectSlug)" target="_blank">
    <img height="60" src="assets/wsp-original.png" alt="">
  </a>
</div>