.wsp-follow {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 12;
  margin: 30px;
  bottom: 0;
  right: 0;
  transition: ease-in-out 0.2s all;

  &:hover {
    transform: scale(1.1);
  }
}
