<section class="location">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="title">
          <h1>Ubicación</h1>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="desc">
          <p>{{project.location}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="sitios-interes mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          Sitios de interés
        </h1>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col-lg-3 col-md-3" *ngFor="let group of places">
        <ul>
          <li class="category mb-4">{{ group.category }}</li>
          <ul>
            <li *ngFor="let item of group.items">
              {{ item.name }}
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="project.slugProject === 'nubi'">
  <div class="vimeo-wrapper">
    <h1 class="text-white text-center mb-5">Conocé nuestro proyecto</h1>
    <iframe title="vimeo-player" src="https://player.vimeo.com/video/897931212?h=b11477a855" width="100%" height="520"
      frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div *ngIf="project.slugProject === 'terra'">
  <div class="vimeo-wrapper">
    <h1 class="text-white text-center mb-5">Conocé nuestro proyecto</h1>
    <!-- <iframe src="https://player.vimeo.com/video/896346560?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      width="100%" height="520" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
      title="#PROYECTO NUBI - VIDEO_1280x720_SIN CARTELES_v007"></iframe> -->
      <iframe title="vimeo-player" src="https://player.vimeo.com/video/897931185?h=7bf297635a" width="100%" height="520"
        frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div *ngIf="project.slugProject === 'fuoco'">
  <div class="vimeo-wrapper">
    <h1 class="text-white text-center mb-5">Conocé nuestro proyecto</h1>
    <!-- <iframe src="https://player.vimeo.com/video/896346560?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      width="100%" height="520" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
      title="#PROYECTO NUBI - VIDEO_1280x720_SIN CARTELES_v007"></iframe> -->
      <iframe title="vimeo-player" src="https://player.vimeo.com/video/1043739769?h=f6d49cb951" width="100%" height="520" frameborder="0"    allowfullscreen></iframe>
  </div>
</div>
<div class="map">
  <div *ngIf="project.slugProject === 'mare'">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2927.966265761311!2d-58.59676438289988!3d-34.63609846941955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb87f2badb34b%3A0x909d3a3dbbe449da!2sManuel%20Lainez%201325%2C%20B1706BYI%20Haedo%2C%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2smx!4v1587362227811!5m2!1ses-419!2smx"
      width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>
  </div>
  <div *ngIf="project.slugProject === 'terra'">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.72647061685!2d-58.596673884862696!3d-34.6363519667324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb87f2b60008d%3A0xb1736ab8dc389f1c!2sManuel%20Lainez%201346%2C%20B1706BYJ%20Haedo%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1657922858385!5m2!1ses-419!2sar"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div *ngIf="project.slugProject === 'nubi'">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.749270263731!2d-58.594687799999996!3d-34.6357759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb87ed3cd979b%3A0xe21e25c1113ff85c!2sAv.%20Pres.%20Per%C3%B3n%202246%2C%20Haedo%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2ses!4v1697758349974!5m2!1ses-419!2ses"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div *ngIf="project.slugProject === 'fuoco'">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7422649691603!2d-58.60017049999999!3d-34.63595289999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb880a79e881f%3A0xb61a356eaab2c1b6!2sAv.%20Pres.%20Per%C3%B3n%202730%2C%20B1706%20Haedo%2C%20Provincia%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses-419!2ses!4v1735929158654!5m2!1ses-419!2ses" 
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
