@import '../../../../../variables.scss';

.location {
  background: $primary;
  padding: 80px 0;

  .title {
    color: white;

    h1 {
      font-family: $font-title;
      font-weight: 600;
    }
  }

  .desc {
    p {
      font-size: 18px;
      color: white;
      white-space: pre-wrap;
    }
  }

  .map {
    margin: 3rem 0 0;
  }

  .bg-black {
    background: black;

    .banner {
      // width: 80%;
      padding: 2rem;

      a {
        text-decoration: none;
        color: $primary;

        .box {
          border-radius: 60px;
          padding: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: #E0E0E0;

          p {
            font-size: 20px;
            margin-bottom: 0;
          }
        }

        .icon {
          margin-left: 8px;

          img {
            width: 24px;
          }
        }
      }
    }
  }
}

.sitios-interes {
  color: $primary;
  h1 {
    font-weight: 600;
    font-family: $font-title;
  }
  .col-lg-3 {
    ul {
      padding-left: 15px;

      .category {
        font-weight: 600;
        font-size: 18px;
        list-style: none;
      }

      li {
        font-size: 14px;
        list-style: disc;
        margin-bottom: 12px;
      }
    }
  }
}

.vimeo-wrapper {
  padding: 4rem 0;
  background: $primary;
  h1 {
    font-family: $font-title;
  }
}

@media screen and (max-width: 600px) {
  .location {
    padding: 1rem 0;

    .container {
      padding: 1rem;

      .row {
        width: 100%;

        .title h1 {
          font-size: 24px;
        }

        .desc {
          p {
            font-size: 18px;
          }
        }
      }

      .sitios-interes {
        .row.mt-3 {
          .col-lg-3 {
            justify-content: start;
          }
        }
      }
    }

    .map {
      margin: 1rem 0;
    }

    .bg-black {
      .container {
        padding: 0;

        .banner {
          padding: 1rem;

          a {
            .box {
              padding: 1rem;

              p {
                font-size: 16px;
              }

              .icon {
                width: 30%;

                img {
                  width: 32px;
                }
              }
            }
          }
        }
      }
    }
  }
}
