<section #devsRef id="devs" class="devs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="title d-none d-md-block position-relative mt-4" data-aos="fade-up">
          <h1 class="position-absolute position-md-relative">
            Lo que mejor hacemos
          </h1>
          <h1 class="featured">
            desarrollos
          </h1>
        </div>
        <div class="title d-block d-md-none" data-aos="fade-up">
          <h3 class="text-white font-title mt-4 mb-4">
            Lo que mejor hacemos, desarrollos.
          </h3>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc text-white" data-aos="fade-up">
          <p class="about-us-desc">
            Somos conscientes que creamos y vendemos productos de gran valor para nuestros clientes, y es por eso que
            nos esforzamos
            para lograr y superar las expectativas de quienes nos eligen, creando vínculos de confianza y satisfacción.
          </p>
          <p class="about-us-desc">
            ALAMOS se compromete con la construcción de <strong>triple impacto:</strong> sustentabilidad, impacto social
            y valor
            económico. Priorizamos la sustentabilidad y el diseño responsable para mejorar las condiciones
            habitacionales,
            optimizando recursos y minimizando los impactos ambientales. Nuestros proyectos promueven la revalorización
            de
            tierras,
            generando desarrollo social y comercial en las comunidades intervenidas.
          </p>
        </div>
      </div>
    </div>
    <div class="row cards" data-aos="zoom-in">
      <div class="col-lg-3 cursor-pointer" *ngFor="let dev of devs; let index = index"
        [routerLink]="['/proyecto/', dev.slug]">
        <p class="location text-white">
          {{ dev.name }}
          <span>{{ dev.address }}</span>
        </p>
        <div class="card-img" [ngStyle]="{'background-image': 'url(' + dev.img + ')'}">
          <div class="status d-flex justify-content-between align-items-center">
            {{ dev.status }}
            <img src="assets/arrow-right.svg" alt="">
          </div>
        </div>
        <p class="text-white mt-2">
          {{ dev.spaces }}
        </p>
      </div>
    </div>
  </div>
</section>
