@import '../../../../../variables.scss';

.devs {
  background: $dark;
  padding: 120px 0;

  .title {
    h1 {
      top: -40px;
      color: $secondary;
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 54px;
      font-family: $font-title;
    }

    .featured {
      margin-left: 20px;
      font-weight: 600;
      font-size: 40px;
      font-family: $font-title;
    }
  }

  .about-us-desc {
    font-size: 18px;
  }

  .cards {
    margin-top: 120px;

    .location {
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;

      span {
        font-weight: 400 !important;
      }
    }

    .card-img {
      height: 321px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px;
      position: relative;

      .status {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $primary;
        background: white;
        width: 100%;
        padding: 12px;
        font-weight: 600;
        border-radius: 0 0 10px 10px;
        cursor: pointer;

        &:hover {
          img {
            transform: translateX(5px);
            transition: all .3s ease-in-out;
          }
        }
      }
    }

    .col-lg-4 {
      &:hover {
        transform: translateY(-10px);
        transition: .2s ease-in-out;
      }
    }
  }
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .devs {
    padding: 40px 0;
    .cards {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
