<nav class="navbar alamos-navbar d-flex justify-content-between">
  <div class="container-fluid">
    <img [routerLink]="'/'" class="alamos-navbar__logo" src="assets/alamos-white.svg" alt="">
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span [ngClass]="{ 'show': navbarOpen }" class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent" [ngClass]="{ 'show': navbarOpen }">
  <div class="p-4">
    <div class="container-fluid">
      <ul class="alamos-navbar__navigation p-0">
        <li [routerLink]="'/sobre-nosotros'" class="alamos-navbar__navigation__item">
          Nosotros
        </li>
        <li (click)="navigateToDevsSection()" class="alamos-navbar__navigation__item" [scrollTo]="'#devs'" [scrollDuration]="1000">
          Desarrollos
        </li>
        <li [routerLink]="'/inversores'" class="alamos-navbar__navigation__item">
          Inversores
        </li>
        <li [routerLink]="'/prensa'" class="alamos-navbar__navigation__item">
          Prensa
        </li>
      </ul>
    </div>
  </div>
</div>
