@import '../../../../variables.scss';

.alamos-navbar {
  background: transparent;
  position: absolute;
  z-index: 10;
  width: 100%;

  &__logo {
    height: 80px;
    @media screen and (max-width: 600px) {
      height: 50px;
    }
    cursor: pointer;
  }

  .navbar-toggler {
    &:focus {
      outline: 0;
    }

    // @media screen and (max-width: 600px) {
    //   margin-right: -15px;
    // }
  }

  .navbar-toggler-icon {
    background: url('/assets/icons/menu.svg');
    background-repeat: no-repeat;

    &.show {
      background: url('/assets/icons/close.svg');
    }
  }

  &__navigation {
    list-style: none;
    margin-top: 200px;

    &__item {
      font-size: 60px;
      font-weight: 600;
      line-height: 66px;
      color: white;
      margin-bottom: 20px;

      @media screen and (max-width: 600px) {
        font-size: 30px;
        line-height: 30px;
      }

      &:hover {
        cursor: pointer;
        transform: translateX(10px);
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

#navbarToggleExternalContent {
  height: 100vh;
  width: 100%;
  background-color: #0a0a0a;
}

.container-fluid {
  @media screen and (max-width: 600px) {
    padding: 0 !important;
  }
}
