<ng-container *ngIf="project">
  <app-wsp-follow [phoneNumber]="'5491144032099'" [messageText]="'Hola! Me gustaría obtener info sobre'" [projectSlug]="project.slugProject | titlecase"></app-wsp-follow>
  <app-slider [project]="project"></app-slider>
  <app-desc [project]="project"></app-desc>
  <app-location [project]="project"></app-location>
  <app-initial-modal></app-initial-modal>
</ng-container>

