<section id="contact-us" class="contact-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" #contactInfo>
        <h1 class="contact-us__title">
          Contactanos
        </h1>
        <h1 class="contact-us__subtitle">
          Dejanos tu contacto para<br>
          <span>enviarte información</span><br>
          sobre nuestros proyectos.
        </h1>
      </div>
      <div class="col-lg-6" #contactFormElement>
        <div class="form-wrapper">
          <iframe
            #tallyContactForm
            data-tally-src="https://tally.so/embed/npkNKq?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
            loading="lazy"
            width="100%"
            height="746"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
