@import '../../../../../variables.scss';

.contact-us {
  padding: 80px 0;

  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 54px;
    font-family: $font-title;

    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    font-family: $font-title;

    @media screen and (max-width: 600px) {
      font-size: 28px;
    }

    span {
      font-weight: 600;
      margin-left: 20px;

      @media screen and (max-width: 600px) {
        margin-left: 0;
      }
    }
  }

  .container-fluid {
    .form-wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .title {
        font-size: 40px;
        display: flex;
        justify-content: center;
      }

      form {

        input,
        select,
        textarea {
          margin-top: 1.5rem;
          width: 100%;
          background: white;
          color: $primary;
          outline: 0;
          border-width: 0 0 1px;
          border-color: $primary;
          font-size: 16px;
          margin-bottom: 20px;

          &::placeholder {
            color: $primary;
            font-weight: 300;
            font-size: 16px;
          }
        }

        .btn-wrapper {
          text-align: right;

          button {
            background: transparent;
            font-weight: 600;
            color: $primary;
            border-radius: 100px;
            font-size: 16px;
            padding: 12px 42px;
            border: 1px solid $primary;

            &:disabled {
              opacity: 0.5;
            }

            .loading-email {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}


