@import '../../../../variables.scss';


footer {
  background: $primary;
  padding: 80px 0;
  @media screen and (max-width: 600px) {
    padding: 40px 0;
  }
  .logo {
    img {
      width: 300px;
      @media screen and (max-width: 600px) {
        width: 150px;
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background: white;
    margin: 40px 0;
  }

  .slogan {
    font-size: 26px;
    color: white;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.96px;
  }

  .sitemap {
    width: 100%;
    color: white;
    margin-top: 40px;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 1rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration: none;
            color: white;
          }
        }

        &:last-child {
          .whatsapp {
            img {
              height: 24px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.copy {
  display: flex;
  justify-content: center;
  background: $primary;
  color: white;
}

