<section class="footer">
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="logo">
            <img src="assets/alamos-white.svg" alt="">
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-start justify-content-md-end mt-4 mt-md-0">
          <a target="_blank" href="mailto:desarrollos@alamos.com.ar" class="custom-btn-primary"
            rel="noopener noreferrer">
            Contactanos
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h5 class="slogan">
            | Somos una nueva forma de VIVIR e INVERTIR |
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-6">
          <div class="sitemap">
            <ul>
              <li [routerLink]="'/sobre-nosotros'">
                Nosotros
              </li>
              <li (click)="navigateToDevsSection()" [routerLink]="['/', '#devs']" [scrollTo]="'#devs'">
                Desarrollos
              </li>
              <li [routerLink]="'/inversores'">
                Inversores
              </li>
              <li [routerLink]="'/prensa'">
                Prensa
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="sitemap d-flex justify-content-center">
            <ul>
              <li>
                <a class="whatsapp" target="_blank" href="https://g.co/kgs/M8ExVth">
                  Moreno 204 - Ramos Mejía
                </a>
              </li>
              <li>
                <a target="_blank" href="mailto:desarrollos@alamos.com.ar">
                  desarrollos&#64;alamos.com.ar
                </a>
              </li>
              <li>
                <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=5491144032099">
                  WhatsApp
                  <img src="assets/whatsapp.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sitemap d-flex align-items-center align-items-md-end flex-column">
            <a class="text-white" href="mailto:info@alamos.com.ar">
              Trabajá con nosotros
            </a>
            <h5 class="mt-3">Redes</h5>
            <ul class="d-flex mt-3">
              <li>
                <a class="mr-3" target="_blank" href="https://www.instagram.com/alamos_di/">
                  <img src="assets/instagram.svg" alt="">
                </a>
              </li>
              <li>
                <a class="mr-3" target="_blank" href="https://www.linkedin.com/company/alamos-desarrollos-inmobiliarios">
                  <img src="assets/linkedin.svg" alt="">
                </a>
              </li>
              <li>
                <a class="mr-3" target="_blank" href="https://www.facebook.com/Alamosdesarrollosinmobiliarios/">
                  <img src="assets/icons/facebook.png" alt="">
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.tiktok.com/@alamos_di">
                  <img height="32" src="assets/icons/tik-tok.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<div class="copy">
  <p>© 2025 | Alamos Desarrollos Inmobiliarios</p>
</div>
