<section class="description">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="title">
          <h1>{{project.address}} <br class="br-desktop"> Haedo</h1>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="desc">
          <p [innerHTML]="project.environment.textOne"></p>
          <ul>
            <li *ngFor="let item of project.environment.items">
              {{ item }}
            </li>
          </ul>
          <p [innerHTML]="project.environment.textTwo"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h1 class="mb-4">Tipologías</h1>
        <p class="text-white" *ngFor="let typology of project.features.typologies" data-aos="flip-up">
          {{ typology }}
        </p>
      </div>
      <div class="col-lg-4">
        <h1 class="mb-4">Amenities</h1>
        <p class="text-white" *ngFor="let typology of project.features.amenities" data-aos="flip-up">
          {{ typology }}
        </p>
      </div>
      <div class="col-lg-4">
        <h1 class="mb-4">Características</h1>
        <p class="text-white" *ngFor="let typology of project.features.characteristics" data-aos="flip-up">
          {{ typology }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="top-slider">
  <div class="swiper-container" [swiper]="swiperTop">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of project.topSlides" [ngStyle]="{'background-image': 'url(' + slide.img + ')', 'background-size': 'cover', 'background-position':
        'center', 'background-color': 'black'}">
        <div class="left-gradient">
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<div *ngIf="project.slugProject === 'terra'">
  <div class="info-360 position-absolute d-none d-lg-block">
    <small class="text-white">Viví la experiencia</small>
    <img height="20" class="ml-2" src="assets/360.png" alt="">
  </div>
  <div class="position-relative">
    <iframe width="100%" height="640" frameborder="0" allow="xr-spatial-tracking; gyroscope; accelerometer" allowfullscreen
      scrolling="yes"
      src="https://kuula.co/share/5bBbd?logo=1&info=1&fs=1&vr=0&zoom=1&sd=1&autorotate=-0.12&autop=10&thumbs=1&inst=es"></iframe>
    <!-- <iframe width="100%" height="640"
      frameborder="0"
      allowfullscreen allow="xr-spatial-tracking; gyroscope; accelerometer" scrolling="no"
      src="https://kuula.co/share/NMfZB?logo=1&info=1&fs=1&vr=0&sd=1&thumbs=-1&inst=0"></iframe> -->
  </div>
</div>
<div *ngIf="project.slugProject === 'nubi' || project.slugProject === 'fuoco'">
  <div class="info-360 position-absolute d-none d-lg-block">
    <small class="text-white">Viví la experiencia</small>
    <img height="20" class="ml-2" src="assets/360.png" alt="">
  </div>
  <div class="position-relative">
    <iframe width="100%" height="640" frameborder="0" allow="xr-spatial-tracking; gyroscope; accelerometer"
      allowfullscreen scrolling="no"
      src="https://kuula.co/share/5Zjqk?logo=1&info=1&fs=1&vr=0&zoom=1&sd=1&autorotate=-0.12&autop=10&thumbs=1&inst=es"></iframe>
  </div>
</div>
<div class="avance-obra">
  <div class="container">
    <h1>{{ project.progress }}</h1>
    <div class="row">
      <div class="col-lg-2 col-6 col-md-4" *ngFor="let i of project.items" data-aos="zoom-in">
        <div class="icon">
          <img src="{{i.icon}}" alt="">
        </div>
        <h5>
          {{i.tag}}
        </h5>
        <span>{{i.percent}}%</span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="project.slugProject !== 'mare'" class="render2"
  [ngStyle]="{'background-image': 'url(' + project.coverTwo + ')'}">
</div>

<section class="top-slider" *ngIf="project.slugProject === 'mare'">
  <div class="swiper-container" [swiper]="swiperFooter">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of project.footerSlides"
        [ngStyle]="{'background-image': 'url(' + slide.img + ')', 'background-size': 'cover', 'background-position':
        'center', 'background-color': 'black'}">
        <div class="left-gradient">
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
