@import '../../../../../variables.scss';

.description {
  padding: 80px 0;
  .title {
    h1 {
      font-size: 40px;
      font-family: $font-title;
      font-weight: bold;
    }
  }
  .desc {
    p, li {
      font-size: 18px;
    }
  }
}

.features {
  padding: 80px 0;
  h1 {
    color: white;
    font-size: 40px;
    font-family: $font-title;
    font-weight: bold;
  }
}


.render {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.render2 {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.avance-obra {
  padding: 4rem 0;
  background: white;

  .container {
    h1 {
      text-align: center;
      font-family: $font-title;
      font-weight: 600;
    }

    .row {
      .col-lg-2 {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .icon {
          img {
            height: 50px;
          }
        }

        h5 {
          font-size: 18px;
          margin: 1rem 0 0;
        }
      }
    }
  }
}

.render3 {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.top-slider {
  // position: absolute;
  left: 0;
  top: 0;
  // height: 100%;
  width: 100%;
  position: relative;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .left-gradient {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(359deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 80%);
    }

    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;


    .slider-content {
      color: white;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 5%;
      bottom: 5%;
      padding: 10px;

      .title {
        font-size: 50px;
        color: white;
        // font-weight: bold;
      }

      .subtitle {
        font-size: 30px;
        width: 50%;
        // font-weight: bold;
      }

    }



  }

  .bullets {
    margin-bottom: 3rem;
  }

  .swiper-button-prev {
    background-image: url('/assets/sliders/left-chevron.svg');
    width: 60px;
    height: 2.5rem;
    background-size: contain;
  }

  .swiper-button-next {
    background-image: url('/assets/sliders/right-chevron.svg');
    width: 60px;
    height: 2.5rem;
    background-size: contain;
  }
}

.info-360 {
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  z-index: 10;
  left: 0;
  small {
    font-size: 24px;
  }
  img {
    height: 40px;
  }
}

@media screen and (max-width: 600px) {

  .description {
    padding: 1rem;

    .title {
      h1 {
        font-size: 24px;
        .br-desktop {
          display: none;
        }
      }
    }

    .col-lg-6 {
      .desc p {
        font-size: 18px;
      }
    }
  }

  #terraza {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .features {
    padding: 10px 20px;
    .container {
      .row {
        .col-lg-4 {
          margin: 1rem 0;
          justify-content: center;
          align-items: flex-end;
          .item {
            width: 100%;
            h1 {
              font-size: 30px;
            }
          }
          &:nth-child(3) {
            .item {
              p {
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .render, .render2, .render3 {
    height: 400px;
  }

  .avance-obra {
    padding: 2rem;
    .container {
      h1 {
        font-size: 24px;
      }
    }
  }

  .top-slider {
    height: 400px !important;
    .swiper-container {
      height: 100%;
      .swiper-slide {
        height: 400px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        .slider-content {
          bottom: 10%;
        }
      }
    }
  }
  .info-360 {
    left: 30%;
  }
}
