<app-main class="app-main"></app-main>
<app-about-us class="app-about-us"></app-about-us>
<app-devs class="app-devs"></app-devs>
<!-- <app-parallax class="d-none d-md-block app-parallax"></app-parallax> -->
<app-contact-us class="app-contact-us"></app-contact-us>
<app-reviews></app-reviews>
