@import '../../../../../variables.scss';

.wsp-follow {
  position: fixed;
  z-index: 5;
  right: 0;

  a {
    text-decoration: none;

    .icon-wrapper {
      background: black;
      padding: 10px;
      opacity: 0.7;
      height: 60px;
      // width: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: white;
        margin-bottom: 0;
        font-size: 12px;
      }

      img {
        height: 30px;
        width: auto;
        margin-right: 10px;
      }
    }

  }
}

.top-slider {
  // position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 90vh;

  .left-gradient {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .cta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    h1 {
      color: white;
      font-size: 60px;
      text-transform: uppercase;
      font-family: $font-title;
      font-weight: 700;
      margin-bottom: 0;
    }

    a {
      border-radius: 30px;
      padding: 5px 10px;
      border: none;
      background: transparent;
      border: 1px solid white;
      color: white;
      z-index: 11;
      &:hover {
        text-decoration: none;
      }
    }

    .alamos-prop {
      color: white;
      font-family: $font-title;
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .top-slider {
    height: 400px;

    .cta {
      h1 {
        font-size: 40px;
        letter-spacing: 3px;
      }
    }
  }
}
