<!-- <div class="wsp-follow">
  <a href="https://api.whatsapp.com/send?phone=5491144032099&text=Hola!%20Me%20interesa%20saber%20sobre%20Terra,%20podr%C3%ADan%20enviarme%20m%C3%A1s%20informaci%C3%B3n%3F"
    target="_blank" rel="noopener noreferrer">
    <div class="icon-wrapper">
      <img src="assets/whatsapp.svg" alt="">
      <p>
        No dudes en consultarnos
      </p>
    </div>
  </a>
</div> 

TODO: agregar comercializa alamos prop

-->
<section class="top-slider" [ngStyle]="{'background-image': 'url(' + project.mainCover + ')'}">
  <div class="left-gradient"> </div>
  <div class="cta">
    <h1>
      {{project.name}}
    </h1>
    <a href="{{project.brochure}}" target="_blank">
      Descargar brochure
    </a>
  </div>
</section>
