<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="title">
          <h1>
            Equipo
          </h1>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc">
          Contamos con un excelente equipo de colaboradores internos y externos que nos asisten para brindar una
          experiencia basada en la confianza y satisfacción a lo largo de todo el proceso.
        </div>
        <br>
        <div class="desc">
          Cumplimos con el ciclo “end to end”, ya que gerenciamos de forma completa todos nuestros
          desarrollos, desde el diseño hasta la comercialización de los mismos.
        </div>
      </div>
    </div>
  </div>
</section>
