@import '../../../../../variables.scss';

.team {
  background: $primary;
  padding: 6rem 0;

  .title {
    h1 {
      font-size: 50px;
      color: $secondary;
      font-family: $font-title;
    }
  }

  .row.space {
    margin-top: 5rem;

    .col-lg-5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }

  .desc {
    font-size: 20px;
    color: $secondary;
  }

  .alamos-grey-wrapper {
    width: 100%;

    img {
      width: 60%;
    }
  }

  .custom-btn.black {
    text-decoration: none;
    color: white;
    align-self: flex-start;
    background: #080808;

    &:hover {
      text-decoration: none;
      color: white;
    }

    img {
      width: 15px;
      height: 15px;
    }
  }

  .col-flex {
    display: flex;
    justify-content: space-between;

    .card {
      border: none;
      border-radius: 0;
      height: 320px;
      padding: 2rem;
      width: 43%;
      display: flex;
      background: #080808;
      justify-content: space-between;

      .title {
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
      }

      .photo {
        display: flex;
        justify-content: center;

        img {
          height: 150px;
          width: auto;
        }
      }

      .footer-card {
        display: flex;
        align-items: center;
        justify-content: center;

        .position {
          color: #5E5F5F;
          // margin-right: 1rem;
          text-align: center;

          small {
            font-size: 14px;
          }
        }

        .linkedin {
          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }


}

@media screen and (max-width: 600px) {
  .team {
    padding: 2rem;

    .title {
      h1 {
        font-size: 24px;
      }
    }

    .desc {
      font-size: 18px;
    }

    .row.space {
      margin-top: 2rem;

      .col-lg-5 {
        .alamos-grey-wrapper {
          display: none;
        }
      }

      .col-lg-7.col-flex {
        .card {
          padding: 1rem;
          width: 48%;

          .title {
            font-size: 14px;
            text-align: center;
          }

          .photo {
            img {
              height: 100px;
            }
          }

          .footer-card {
            .position {
              text-align: center;
              margin-right: 0;

              small {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
