/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import './variables.scss';

body {
  background: #fff;
  font-family: 'General Sans', sans-serif;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.container-fluid {
  padding: 0 80px;

  @media screen and (max-width: 600px) {
    padding: 0 20px;
  }
}

.font-title {
  font-family: $font-title;

  @media screen and (max-width: 600px) {
    font-size: 32px;
  }
}

.font-weight-medium {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-primary {
  background-color: $primary !important;
}

.custom-btn-primary {
  background: transparent;
  font-weight: 600;
  color: $secondary;
  border-radius: 100px;
  font-size: 16px;
  padding: 12px 42px;
  border: 1px solid $secondary;

  &:hover {
    color: white;
    text-decoration: none;
    // background: $primary;
  }
}

.custom-btn-secondary {
  background: $secondary;
  color: $primary;
  border-radius: 100px;
  font-size: 16px;
  padding: 12px 42px;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

// Modals
.modal-dialog {
  width: 100% !important;
  background: black;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  max-width: 100% !important;
  margin-bottom: 0;
  margin: 0;

  .modal-header {
    border-bottom: none;

    .modal-title {
      font-family: $font-title;
    }

    .close {
      color: white;
      font-size: 3.5rem;
      font-weight: 100;

      &:hover {
        color: white;
      }
    }
  }
}

.custom-btn {
  cursor: pointer;
  background: $primary;
  color: $secondary;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-top: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #eaeaea;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #eaeaea;
}

.swiper-button-prev,
.swiper-button-next {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.text-dark {
  color: $dark !important;
  margin: 30px 0 !important;
}

.nav-tabs .nav-link {
  color: #656363;
}

.nav-tabs .nav-link.active {
  color: $primary
}

.nav-tabs .nav-item.show .nav-link {
  border-style: none;
  // background: $grey;
}

.nav.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-body {
  video {
    width: 100%;
  }
}

.list-style-none {
  list-style: none;
}

// Animations
.animation-floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, -0px);
  }
}
