<section #aboutUs id="about-us" class="about-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="title position-relative mt-4">
          <h1 #title class="position-absolute" data-aos="fade-up-right">
            Sobre
          </h1>
          <h1 #featured class="featured" data-aos="fade-up-left">
            nosotros
          </h1>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
          <p class="about-us-desc" #descOne>
            Somos una desarrolladora inmobiliaria dedicada al diseño, desarrollo, gerenciamiento y comercialización de
            arquitectura
            contemporánea, enfocada en el confort y el bienestar de quienes nos eligen.
          </p>
          <p class="about-us-desc" #descTwo>
            Somos apasionados por los detalles, y estamos convencidos que son éstos los que nos permiten obtener un
            salto de calidad
            e innovación en nuestros proyectos.
          </p>
          <p class="mb-0 mb-md-5"><strong>| Somos una nueva forma de VIVIR e INVERTIR |</strong></p>
          <button class="custom-btn-secondary" routerLink="/sobre-nosotros">Conocenos</button>
        </div>
      </div>
    </div>
<!--     <div class="row mt-5 mb-5">
      <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
        <h1 class="font-title">
          <img height="30" src="assets/icons/archery.svg" alt="">
          Misión
        </h1>
        <p class="about-us-desc">
          Nuestra misión es crear desarrollos inmobiliarios que les permitan a nuestros clientes e inversores adquirir
          productos
          de alta calidad, logrados con una fusión perfecta de estética y funcionalidad.
        </p>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
        <h1 class="font-title">
          <img height="30" src="assets/icons/eye.svg" alt="">
          Visión
        </h1>
        <p class="about-us-desc">
          Queremos ser una empresa modelo para nuestra comunidad de clientes e inversores, comprometidos con el medio
          ambiente,
          aportando sustentabilidad en los proyectos que diseñamos y actuando siempre con responsabilidad,
          profesionalismo y
          pasión.
        </p>
        <p class="about-us-desc">
          Queremos ser tu mejor opción, por lo que hacemos, y por cómo lo hacemos.
        </p>
      </div>
      <div class="col-lg-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
        <h1 class="font-title">
          <img height="30" src="assets/icons/smile.svg" alt="">
          Valores
        </h1>
        <p class="about-us-desc">
          Responsabilidad - Compromiso - Profesionalismo - Pasión - Innovación - Sustentabilidad - Servicio de
          excelencia - Ética
        </p>
      </div>
    </div> -->
    <div class="row circles">
      <div class="col-lg-5">
        <div class="title position-relative mt-4">
          <h1 class="position-absolute" data-aos="fade-up-right">
            Nuestro
          </h1>
          <h1 class="featured" data-aos="fade-up-left">
            equipo
          </h1>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="desc" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
          <p class="about-us-desc" #descFour>
            Contamos con un excelente equipo de colaboradores internos y externos que nos asisten para brindar una
            experiencia
            basada en la confianza y satisfacción para nuestros clientes a lo largo de todo el proceso.
          </p>
          <p class="about-us-desc" #descFive>
            Cumplimos con el ciclo “end to end”, ya que gerenciamos de forma completa todos nuestros desarrollos, desde
            el diseño
            hasta la comercialización de los mismos.
          </p>
          <p class="about-us-desc">
            Esta sinergia y colaboración constante nos han permitido crecer de manera continua y dinámica.
          </p>
          <!-- <p class="mb-0 mb-md-5"><strong>Somos una nueva forma de VIVIR e INVERTIR</strong></p> -->
        </div>
      </div>
    </div>
    <div class="row d-none d-md-block">
      <div class="col-lg-12 d-flex flex-column align-items-center">
        <div class="process" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <img height="40" src="assets/circles.svg" alt="">
        </div>
        <ul class="items" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <li>
            Selección de la zona
          </li>
          <li>
            Compra del terreno
          </li>
          <li>
            Desarrollo del proyecto
          </li>
          <li>
            Ejecución y construcción
          </li>
          <li>
            Comercialización inmobiliaria
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="app-parallax-team" id="app-parallax-team-2"></div>

