@import '../../../../../variables.scss';

.about-us {
  padding: 120px 0;

  .title {
    h1 {
      top: -40px;
      color: $primary;
      font-size: 40px;
      font-style: normal;
      font-weight: 300;
      line-height: 54px;
      font-family: $font-title;
    }

    .featured {
      margin-left: 20px;
      font-weight: 600;
      font-size: 40px;
      font-family: $font-title;
    }
  }

  .desc {
    font-size: 14px;

    .about-us-desc {
      font-size: 18px;
    }

    p {
      strong {
        font-size: 18px;
      }
    }
  }

  .line {
    position: relative;
    width: 100%;
    border-bottom: 1px solid $primary;
  }

  .process {
    margin-top: 4rem;
    width: 1196px;
    max-width: 100%;
    position: relative;

    @media screen and (max-width: 600px) {
      margin-top: 0;
    }
  }

  .items {
    width: 1196px;
    max-width: 100%;
  }

  .circles {
    margin-top: 120px;

    @media screen and (max-width: 600px) {
      margin-top: 40px;
    }

    h1 {
      font-weight: 300;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      list-style-type: disc;
      padding-left: 20px;
    }

    li {
      font-size: 16px;
    }
  }
}

.app-parallax-team {
  background-image: url('/assets/parallax-bg.jpg');
  min-height: 440px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  @media screen and (max-width: 600px) {
    background-attachment: inherit !important;
  }
}

@media screen and (max-width: 600px) {
  #about-us {
    padding: 40px 0;

    .title {
      h1 {
        font-size: 32px;
      }
    }

    .about-us-desc {
      font-size: 16px;
    }

    .process {
      img {
        display: none;
      }
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .about-us {
    .container {
      .row {
        .process {
          .item {
            .icon {
              &::after {
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}
